<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connStringMirejete"
         connectionString="Data Source=DESKTOP-93O0N5T;Initial Catalog=StudentManagementSystemDB;Persist Security Info=True;User ID=mirejete;Password=mirejete"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>